body{
    background: aqua;
}
.top-bar{
    padding: 30px;
    height: 100px;
    margin-top: 0;
}
.img-jitto{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
}
.nav-bar{
    float: right;
    font-size: large;
    font-weight: bold;
}
.nav-bar a{
    color: black;
    padding: 20px;
}
.nav-bar a:hover{
    background-color: white;
    color: orange;
    border-radius: 8px;
}
.container{
    border: black;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3%;
    
}
form{
    background: white;
    padding: 5%;
    border-radius: 8px;
}
input{
    margin: 2%;
    padding: 1%;
}
select{
    margin: 2%;
    padding: 1%;
}
button{
    padding: 2%;
}
button:hover{
    padding: 2%;
    color: white;
    background: black;
    border-radius: 8px;
}